.boton {
    color: var(--color-botones-primario);
    cursor: pointer;
    background: transparent;
    border: solid 0.1em var(--color-botones-primario);
    font-size: var(--tamañoLetraEscritorio-parrafosYLinks-dscImagen-botones);
    font-weight: 400;
    margin: 0 1em 0 0;
    padding: 1em;
    text-decoration: none;
    transition: all 0.5s ease-out;
    width: fit-content;
}

.boton:hover {
    background-color: var(--color-botones-primario);
    color: var(--col-de-fondo);
}

.boton--secundario {
    color: var(--col-de-fondo);
    background: var(--color-botones-primario);
}

.boton--secundario:hover {
    background-color: transparent;
    color: var(--color-botones-primario);
}

.boton--bloqueado[type="submit"] {
    background: #4e4b4b;
    border: solid 0.1em #4e4b4b;
    pointer-events: none;
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
    .boton {
        font-size: var(--tamañoLetraTablet-parrafoSobreMi-dscImagenes-botones);
    }
}

/*Celulares verticales*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
    .boton {
        font-size: var(--tamañoLetraCelular-parrafosYLinks-descripcionImagen);
    }
}